<div id="modal-<%= id %>" class="modal hide fade in" style="display: none;">
	<div class="modal-header">
		<a class="close" href="#">×</a>
	<h3><%= title %></h3>
	</div>
	<div class="modal-body">
		<% unless renderize.nil? %>
			<%= render :partial => renderize, :locals => locals  %>
		<% end %>
	</div>
	<div class="modal-footer"></div>
</div>